<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img id="main-image" [src]="product?.image" width="250" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a [routerLink]="['/Product/detail', 5]"
                    >Go to Product No :5</a
                  >
                </div>
                <div class="d-flex align-items-center">
                  <span class="ml-1"><a routerLink="/Product">Back</a> </span>
                </div>
              </div>
              <div class="mt-4 mb-3">
                <h5 *ngIf="!editMode" class="text-uppercase">{{ product?.name }}</h5>
                <div *ngIf="editMode">
                  <input type="text" class="form-control" value="{{ product?.name }}">
                </div>
                <span class="text-uppercase text-muted brand">
                  {{ product?.color }}
                </span>
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price">{{ product?.price }} </span>
                </div>
              </div>
              <p class="about">
                Product Details:<br />
                {{
                  product?.name + " " + product?.color + " " + product?.price
                }}
              </p>
              <div class="cart mt-4 align-items-center">
                <button class="btn btn-danger text-uppercase mr-2 px-4">
                  Add to cart
                </button>
                <!-- Implementin Query Parameter -->
                <!-- <button
                  class="btn btn-success text-uppercase"
                  routerLink="/Product/detail/{{ product?.id }}"
                  [queryParams]="{ edit: true }"
                >
                  Edit
                </button> -->
                <!-- Query Param - Programmatically -->
                <button
                  class="btn btn-success text-uppercase"
                  (click)="enableEditMode()"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
