<!-- <div class="navbar">
  <div class="siteName">
    <h2>mCart</h2>
  </div>
  <div class="siteMenu">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Products</a>
    <a href="#">Cart</a>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shopping Cart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="Home"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'Contact'">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="" (click)="login()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
