<div>
  {{ getText() }}
</div>
<h1>
  {{ message }}
</h1>

<!-- <div [innerText]="divMsg"></div>

<button class="btn btn-outline-success" [disabled]="isValid">Submit</button>
<hr />
<div class="row">
  <label class="col-md-3 col-form-label">Enter the Product to Search</label>
  <div class="col-md-5">
    <input type="text" class="form-control" (input)="onInput($event)" />
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="onSubmit()">Click Here</button>
  </div>
</div>
<h2>{{ searchedText }}</h2>
<hr /> -->
<!-- Style Binding -->
<!-- <div [style]="divStyle">This is a Demo for Style Binding</div>

<div [style]="isValid ? divStyle : divStyle2">
  This is a Demo for Style Binding. Is Valid :{{ isValid }}
</div> -->

<!--Class Binding-->
<!-- <div class="mt-4">
  <div [className]="'blue'">This is Class Binding Demo</div>

  <div [className]="text_BGColor">This is Class Binding Demo</div>
</div> -->
<!-- ------------------------------------------------------------------------------------ -->
<!-- Attribute Directives -->
<!-- ngStyle -->
<!-- <div [style]="{background: 'gray'; border: '2px solid red'}">This is a Style Demo</div> -->

<!-- <div
  [ngStyle]="{ background: 'yellow', border: '2px solid red', width: '200px' }"
>
  This is a Style Demo
</div> -->

<!-- <div
  [style.color]="isValid ? 'Green' : 'red'"
  [style.border]="hasError ? '2px solid red' : '2px solid green'"
>
  Multiple Style Demo, Is Valid :{{ isValid }}, Has Error :{{ hasError }}
</div> -->

<!-- <div [ngStyle]="myNgStyles">Multiple Style Demo</div> -->

<!-- ------------------------------------------------------------------------------------ -->
<hr />
<!-- NgClass -->
<!-- <button
  [ngClass]="{
    'btn btn-danger': !isValid,
    'btn btn-primary': isValid
  }"
>
  Submit
</button> -->

<!-- ------------------------------------------------------------------------------------ -->
<!-- NgFor -->
<ul>
  <!-- <li
    *ngFor="let city of cities"
    [ngClass]="{
      'text-success': city.population > 40000,
      'text-danger': city.population <= 40000
    }"
  > -->
  <li *ngFor="let city of cities" [ngClass]="getClass(city.population)">
    City Name :{{ city.cityName }}, Population :{{ city.population }}
  </li>
</ul>
